name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: php-actions/composer@v6

    - name: Ensure log directory exists
      run: mkdir -p log

    - name: PHPUnit tests with coverage
      uses: php-actions/phpunit@v3
      with:
        version: "9.6.11"
        php_extensions: "gd dom json libxml mbstring pcre Phar SimpleXML tokenizer xml xmlwriter xmlreader sqlite3 xdebug"
        configuration: "phpunit.xml"
        memory_limit: "1024M"
        args: '--coverage-text=log/coverage.txt --coverage-cobertura=log/coverage-cobertura.xml'
      env:
        XDEBUG_MODE: coverage

    - name: List log directory
      run: ls -al log/

    - name: Upload coverage report in text format
      uses: actions/upload-artifact@v3
      with:
        name: coverage-text
        path: log/coverage.txt

    - name: Upload cobertura coverage report
      uses: actions/upload-artifact@v3
      with:
        name: coverage-cobertura
        path: log/coverage-cobertura.xml
        
    - name: Code Coverage Summary Report
      uses: irongut/CodeCoverageSummary@v1.3.0
      with:
        filename: 'log/*/coverage-cobertura.xml'
        badge: true
        format: 'markdown'
        output: 'both'
        
    - name: Add Coverage PR Comment
      uses: marocchino/sticky-pull-request-comment@v2
      if: github.event_name == 'pull_request' || github.event_name == 'push'
      with:
        recreate: true
        path: code-coverage-results.md

    - name: Write to Job Summary
      run: cat code-coverage-results.md >> $GITHUB_STEP_SUMMARY


